.wrapper {
  box-sizing: border-box;
  flex: 0 0 300px;
  padding: 0.3125rem;

  position: relative;
  transition: 300ms ease;
  &:hover,
  &:focus {
    transform: scale(1.02);
  }

  &.active{
    border: 1px solid red;
  }

  .card {
    background-color: var(--cards-bg);
    box-sizing: border-box;
    border-radius: 0.5rem;
    // box-shadow: var(--box-shadow);
    box-shadow: 0 5px 10px -4px rgba(37, 55, 81, 0.25);
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    overflow: hidden;
    padding: 0.625rem;

    .thumb {
      border-radius: 0.5rem;
      pointer-events: none;
    }

    .content {
      padding: 1rem 0;
      text-align: center;

      h3 {
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
      }

      .tags {
        font-size: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.75rem;

        span {
          color: var(--cases-tag);
          font-size: 0.75rem;
          margin-bottom: 1rem;
        }
      }

      .btn {
        font-size: 0.875rem;
        padding: 0.625rem;
        max-width: 120px;
      }
    }
  }
}
