:root {
  --color-blue-main: #1e2938;
  --color-yellow-main: #f4d717;

  --color-blue-100: #e1e6ee;
  --color-blue-200: #4687e3;
  --color-blue-300: #3a5d8e;
  --color-blue-400: #253751;
  --color-blue-500: #182230;

  --color-white: #fff;
  --color-white-100: #f2f2f2;
  --color-white-200: #e0e0e0;
  --color-white-300: #bdbdbd;
  --color-white-400: #828282;
  --color-white-500: #4f4f4f;
  --color-white-600: #333;

  --main-font: "Fira Sans", sans-serif;
  --support-font: "Noto Sans", sans-serif;

  --box-shadow: 0.25rem 1rem 2rem -5rem rgba(37, 55, 81, 0.2);

  //Animate
  --pop: 250ms cubic-bezier(1, -0.01, 0.19, 1.47);
  --pop-slow: 1s cubic-bezier(1, -0.01, 0.19, 1.47);

  //Neumorphic cores

  // -- light theme --
  --neu-light: var(--color-white-100);
  --neu-light-200: var(--color-white-300);
  --neu-light-border: 1px solid rgba(0, 0, 0, 0.06);
  --neu-light-shadow: 0.3rem 0.3rem 0.6rem var(--neu-light-200),
    -0.2rem -0.2rem 0.5rem var(--neu-light);
  --neu-light-shadow-inset: inset 0.2rem 0.2rem 0.5rem var(--neu-light-200),
    inset 0.2rem 0.2rem 0.5rem var(--neu-light);

  // -- dark theme --
  --neu-dark: var(--color-blue-400);
  --neu-dark-200: #01090c;
  --neu-dark-border: 1px solid rgba(255, 255, 255, 0.06);
  --neu-dark-shadow: 0.3rem 0.3rem 0.6rem var(--neu-dark-200),
    -0.2rem -0.2rem 0.5rem var(--neu-dark);
  --neu-dark-shadow-inset: inset 0.2rem 0.2rem 0.5rem var(--neu-dark-200),
    inset 0.2rem 0.2rem 0.5rem var(--neu-dark);
}
