.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;

  margin-bottom: 2rem;

  .title {
    font-size: 0.875rem;
    font-weight: 600;
    margin: 0;
  }

  .list {
    display: flex;
    li {
      padding: 0.3125rem;
      .btn {
        border: 1px solid var(--slider-card-border);
        border-radius: 2px;
        box-shadow: var(--box-shadow);
        color: var(--text-color);
        cursor: pointer;
        font-size: 0.875rem;
        padding: 0.5rem 0.75rem;

        position: relative;
        transition: transform 350ms var(--pop);

        &:not(.active) {
          &:hover,
          &:focus {
            transform: scale(1.03);
          }
        }

        &.active {
          background-color: var(--color-yellow-main);
          border-color: var(--color-yellow-main);
          color: var(--color-yellow-300);
          font-weight: 600;
        }
      }
    }
  }
}
