.hero {
  margin: 2.5rem 0 2rem;
  .container {
    padding: 2.5rem;

    @media (min-width: 600px) {
      padding: 3.75rem 4rem;
      min-height: 500px;
    }

    @media (min-width: 800px) {
      padding: 3.75rem 5rem;
    }

    display: flex;
    align-items: center;
    position: relative;

    .content {
      width: 100%;

      @media (min-width: 800px) {
        width: 80%;
        max-width: 500px;
      }

      @media (max-width: 640px) {
        h1,
        h2,
        p {
          text-align: center;
          margin-left: auto;
          margin-right: auto;
        }
      }

      position: relative;
      z-index: 3;

      h2 {
        color: var(--color-white-200);
        font-size: 0.875rem;
        font-family: var(--support-font);
        font-weight: 400;
        margin-bottom: 0.5rem;
      }

      h1 {
        color: var(--color-white);
        font-size: 3.75rem;
        font-weight: 800;
        letter-spacing: 2px;
        line-height: 0.85;
        margin-bottom: 1.25rem;
        text-transform: uppercase;

        @media (min-width: 500px) {
          font-size: 5rem;
        }
      }

      p {
        color: var(--color-white-200);
        max-width: 350px;
        strong {
          color: var(--color-white);
          font-weight: 600;
        }
      }

      .row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 0.625rem;
        margin-top: 1.5rem;

        @media (min-width: 640px) {
          justify-content: initial;
        }

        .btnline {
          color: var(--color-white-300);
          &:hover,
          &:focus {
            background-color: var(--color-white-200);
            border-color: var(--color-white-200);
            color: var(--color-blue-400);
          }
        }
      }
    }

    .thumb {
      z-index: 1;
      width: 100%;
      height: auto;
      max-width: 550px;

      @media (max-width: 640px) {
        display: none !important;
      }
    }

    .background {
      background: var(--color-blue-400);
      background: linear-gradient(
        0deg,
        var(--color-blue-400) 0%,
        var(--color-blue-300) 100%
      );
      border-radius: 0.5rem;
      box-shadow: -0.5rem 0.75rem 1.25rem -0.25rem rgba(0, 0, 0, 0.35);

      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: hidden;

      &::before,
      &::after {
        content: "";
        display: block;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
      }

      &::after {
        background: url(../../assets//img/pattern.png) no-repeat center center;
        background-size: cover;
        opacity: 0.3;
        width: 100%;
        z-index: 0;

        animation: pulse 8s linear infinite;
      }

      &::before {
        background: linear-gradient(
          90deg,
          rgba(37, 55, 81, 0.8) 55%,
          rgba(37, 55, 81, 0) 100%
        );
        border-radius: 0.5rem 0 0 0.5rem;
        width: 80%;
        z-index: 2;

        @media (min-width: 850px) {
          width: 65%;
        }
      }

      .flareRight {
        top: 0;
        right: 0;
        transform: translate(250px, -200px);
        z-index: 2;
        animation: flarePulseRight 20s linear infinite alternate;
      }

      .flareLeft {
        bottom: 0;
        left: 0;
        transform: translate(-250px, 200px);
        z-index: 2;
        animation: flarePulseLeft 20s linear infinite alternate;
      }
    }
  }
}

.img {
  position: absolute;
  bottom: 0;
  right: 0;
}

@keyframes pulse {
  0% {
    opacity: 0.3;
    transform: scale(1);
  }
  50% {
    opacity: 0.1;
    transform: scale(0.95);
  }
  100% {
    opacity: 0.3;
    transform: scale(1);
  }
}

@keyframes flarePulseRight {
  0% {
    opacity: 1;
    transform: translate(250px, -200px) scale(1);
  }
  50% {
    opacity: 0.8;
    transform: translate(250px, -200px) scale(1.2);
  }
  100% {
    opacity: 1;
    transform: translate(250px, -200px) scale(1);
  }
}

@keyframes flarePulseLeft {
  0% {
    opacity: 1;
    transform: translate(-250px, 200px) scale(1);
  }
  50% {
    opacity: 0.8;
    transform: translate(-250px, 200px) scale(1.2);
  }
  100% {
    opacity: 1;
    transform: translate(-250px, 200px) scale(1);
  }
}
