.about {
  padding: 2.5rem 0;
  @media (min-width: 800px) {
    padding: 3.75rem 0;
  }
  position: relative;

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 2.5rem 1.25rem;

    position: relative;
    z-index: 1;

    & > div {
      @media (max-width: 800px) {
        width: 100%;
        &.content {
          max-width: 500px;
          margin-left: auto;
          margin-right: auto;
        }
      }
      @media (min-width: 800px) {
        flex: 1;
      }
    }

    .thumb {
      text-align: center;
      .img {
        display: block;
        width: 90%;
        max-width: 250px;
        margin: 0 auto;

        @media (min-width: 600px) {
          max-width: 350px;
        }
      }
    }

    .content {
      p {
        max-width: 50ch;
        line-height: 1.45;
        @media (max-width: 640px) {
          margin-left: auto;
          margin-right: auto;
        }
      }

      .skills {
        margin-top: 1.5rem;
        & > div {
          & + div {
            margin-top: 2.5rem;
          }
        }

        h3 {
          display: flex;
          gap: 0.3125rem;
          margin-bottom: 1.25rem;

          svg {
            font-size: 1.125rem;
            display: block;
            margin: 0;
          }
        }

        ul {
          display: flex;
          flex-wrap: wrap;
          gap: 0.625rem;

          width: 100%;
          max-width: 450px;
          padding-left: 1.5rem;

          li {
            border: 1px solid currentColor;
            border-radius: 4px;
            box-shadow: var(--box-shadow);
            color: var(--color-support);
            font-size: 0.875rem;
            flex: 0 0 5rem;
            padding: 0.5rem 0.625rem;
            text-align: center;
          }
        }
      }
    }
  }

  .leftPattern {
    top: -30px;
    left: -250px;
    opacity: 0.75;
    @media (min-width: 768px) {
      opacity: 1;
      top: -50px;
      left: -200px;
    }
  }

  .rightPattern {
    bottom: -10px;
    right: -280px;
    opacity: 0.75;

    @media (min-width: 1000px) {
      opacity: 1;
      bottom: -10px;
      right: -200px;
    }
  }
}
