.nav {
  a {
    color: var(--menu-links );
    font-family: inherit;
    font-size: 1rem;
    text-decoration: none;
  }

  @media (max-width: 600px) {
    &.open {
      display: flex;

      animation: showNav var(--pop-slow) forwards;
    }

    background-color: var(--menu-bg);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);

    display: none;
    flex-direction: column;
    align-items: center;

    min-height: 5rem;
    width: 90%;
    max-width: 200px;
    padding: 0.625rem;

    position: absolute;
    right: 0.625rem;
    top: calc(100% + 0.3125rem);
    z-index: 2;

    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, 100px, 0);

    a {
      color: var(--menu-links);
      width: 100%;
      text-align: center;

      padding: 0.625rem 0;

      &:not(.active) {
        &:hover,
        &:focus {
          background-color: var(--menu-links-hover);
        }
      }

      &.active {
        background-color: var(--menu-active);
        color: var(--menu-active-link);
      }

      & + a {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
      }
    }
  }

  @media (min-width: 600px) {
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;

    a {
      padding: 6px 0;

      position: relative;
      overflow: hidden;

      &:not(.btn) {
        &:hover,
        &:focus {
          &::after {
            background-color: var(--color-yellow-main);
            bottom: 4px;
            opacity: 1;
          }
        }
      }

      &::after {
        content: "";
        background-color: var(--color-yellow-main);
        display: block;
        height: 2px;
        width: 100%;

        position: absolute;
        left: 0;
        bottom: -4px;
        opacity: 0;
        transition: var(--pop);
      }

      &.active {
        font-weight: 600;
        &::after {
          bottom: 2px;
          opacity: 1;
        }
      }

      &.btn {
        background-color: var(--color-primary);
        border-radius: 0.25rem;
        color: var(--color-primary-dark);
        display: block;
        padding: 0.625rem 1.5rem;
        transition: var(--pop);

        &:focus,
        &:hover {
          background-color: var(--color-blue-300);
          color: var(--color-white-100);
          transform: scale(1.03);
        }
      }
    }
  }
}

@keyframes showNav {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    visibility: initial;
    transform: translate3d(0, 0, 0);
  }
}
