.card {
  background-color: var(--cards-bg);
  border: 1px solid var(--slider-card-border);
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px -4px rgba(37, 55, 81, 0.25);
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  padding-left: 0;

  position: relative;
  overflow: hidden;
  .content {
    position: relative;
    z-index: 2;
    padding-left: 6.25rem;
    min-height: 150px;

    display: grid;
    grid-template-rows: 1fr auto auto;

    &::before{
      content: "“";
      color: var(--color-yellow-main);
      font-size: 2.5rem;
      font-weight: 600;
      font-family: var(--support-font);
      position: absolute;
      top: 0;
      left: 3rem;
    }

    h3,
    h4,
    p {
      margin: 0;
      text-align: left;
    }

    h3 {
      color: var(--slide-quote);
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.45;
      align-self: center;
    }

    h4 {
      color: var(--slide-name);
      font-size: 0.875rem;
      line-height: 1.2;
      margin-top: 1.25rem;
    }

    p {
      color: var(--slide-role);
      font-size: 0.75rem;
    }
  }

  .background {
    background: var(--color-blue-400);
    background: linear-gradient(
      0deg,
      var(--color-blue-400) 0%,
      var(--color-blue-300) 100%
    );

    order: -1;
    position: absolute;
    width: 5rem;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    &::before,
    &::after {
      content: "";
      display: block;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;
    }

    &::after {
      background: url(../../../assets//img/pattern.png) no-repeat center center;
      background-size: cover;
      opacity: 0.3;
      width: 100%;
      z-index: 0;

      animation: pulse 8s linear infinite;
    }

    .flare {
      --radio: 15.625rem;
      width: var(--radio);
      height: var(--radio);

      &.flareRight {
        top: 0;
        right: 0;
        transform: translate(160px, -180px);
        z-index: 2;
        animation: flarePulseRight 20s linear infinite alternate;
      }

      &.flareLeft {
        bottom: 0;
        left: 0;
        transform: translate(-170px, 180px);
        z-index: 2;
        animation: flarePulseLeft 20s linear infinite alternate;
      }
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 0.3;
    transform: scale(1);
  }
  50% {
    opacity: 0.1;
    transform: scale(0.95);
  }
  100% {
    opacity: 0.3;
    transform: scale(1);
  }
}

@keyframes flarePulseRight {
  0% {
    opacity: 1;
    transform: translate(160px, -180px) scale(1);
  }
  50% {
    opacity: 0.8;
    transform: translate(160px, -180px) scale(1.2);
  }
  100% {
    opacity: 1;
    transform: translate(160px, -180px) scale(1);
  }
}

@keyframes flarePulseLeft {
  0% {
    opacity: 1;
    transform: translate(-170px, 180px) scale(1);
  }
  50% {
    opacity: 0.8;
    transform: translate(-170px, 180px) scale(1.2);
  }
  100% {
    opacity: 1;
    transform: translate(-170px, 180px) scale(1);
  }
}
