.section {
  padding: 3.75rem 0;

  .container {
    max-width: 750px;

    h2 {
      text-align: center;
      margin-bottom: 2rem;
    }

    .currently {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .item {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;

        @media (min-width: 600px) {
          display: grid;
          gap: 0.3125rem 0.625rem;
          grid-template-columns: minmax(auto, 150px) 1fr;
          grid-template-rows: auto 1fr;
        }

        h3,
        h4,
        h5,
        h6,
        p {
          margin: 0;
        }

        .role {
          color: var(--currently-role);
          font-size: 1.5rem;
          font-weight: 600;

          @media (min-width: 600px) {
            font-size: 1.125rem;
            grid-column: 2/-1;
          }
        }

        .company {
          color: var(--currently-company);
          font-size: 1rem;
          font-weight: 600;
          letter-spacing: 0;
          text-align: right;

          .range {
            color: var(--currently-range);
            display: block;
            font-size: 0.875rem;
            font-weight: 300;
            line-height: 1.4;
            margin-top: 0.3125rem;
          }
          
          @media (min-width: 600px) {
            border-right: var(--currently-border);
            grid-column: 1/2;
            grid-row: 1/-1;
            padding-right: 0.625rem;
          }

          @media (max-width: 600px) {
            font-size: 1.125rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: var(--currently-border);
            border-bottom: var(--currently-border);
            padding: 0.625rem;
            .range {
              display: inline-block;
              font-size: 1rem;
              margin: 0;
            }
          }
        }

        .description {
          color: var(--currently-description);
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.5;
          
          @media (min-width: 600px) {
            font-size: 0.875rem;
            grid-column: 2/-1;
            grid-row: 2/-1;
            line-height: 1.45;
          }
        }
      }
    }
  }
}
